body {
  font-family: "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  color: #555;
  margin: 0 auto;
  line-height: 1.5;
  padding: 4em 1em;
}

h3, h4 {
  margin-top: 1em;
  padding-top: 1em;
  color: #333;
}
